table {
  border-collapse: collapse;
}

table {
  border: 1px solid #ccc;
}
th,
td {
  border: 1px solid #ccc;
  text-align: center;
}

.btnsection button {
  margin: 10px 10px;
  padding: 10px;
  background: rgb(201, 250, 181);
  border: none;
  cursor: pointer;
}

.formatText {
  background-color: blue;
  color: #fff;
}
