<div>
  <form>
    <div class="formInput">
      <label for="#">Find info</label>
      <div class="form-control">
        <input type="text" />
      </div>
    </div>
    <div class="formInput">
      <label for="#">Format text box</label>
      <div class="form-control">
        <input type="text" />
      </div>
    </div>

    <button>Find Info</button>
    <button>Format text box</button>
  </form>
</div>

<table>
  <thead>
    <tr>
      <th>Friends store id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Hobbies</th>
      <th></th>
    </tr>
  </thead>
</table>
