<div>
  <form>
    <div *ngIf="hidetextbox">
      <div class="formInput">
        <label for="#">Find info</label>
        <div class="form-control">
          <input type="text" />
        </div>
      </div>
      <div class="formInput">
        <label for="#">Format text box</label>
        <div class="form-control">
          <input type="text" />
        </div>
      </div>
    </div>
    <div style="margin:10px auto" class="btnsection">
      <button class="" (click)="findInfo()">Find Info</button>
      <button (click)="formatTextBox()">Format text box</button>
    </div>
  </form>
</div>

<table width="100%" [ngClass]="[formattext ? 'formatText' : 'unformat']">
  <thead>
    <tr>
      <th>Friends store id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Hobbies</th>
    </tr>
  </thead>

  <tbody *ngIf="findInfos">
    <tr *ngFor="let item of usserdata">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.address }}</td>
      <td>{{ item.hobbies }}</td>
    </tr>
  </tbody>
</table>
