table th,
table td {
  border-collapse: collapse;
}
td {
  border: 1px solid #ccc;
}

th {
  border: 1px solid #ccc;
}

.btnsection button {
  margin: 10px 10px;
  padding: 10px;
  background: rgb(201, 250, 181);
  border: none;
  cursor: pointer;
}
